
<h4> Post details: </h4>
<br />
<p>
   <%= @row['content'] %>
  <br />
  <br />
 Added at <%= @row['created_date'] %>
</p>
  <br />
  <br />
<h4> Comments: </h4>
  <br />
<p>
<% @comments.each do |comment| %>
<br />

 <%= comment['content'] %>
    <small class="text-muted">Added at <%= comment['created_date'] %></small>
</p>
<hr />
<%end%>

<p>

  <form  action="/details/<%= @row['id'] %>" method="POST" role="form">

  <div class="form-floating">
    <textarea name="content" class="form-control" placeholder="Write comment here" id="floatingTextarea2" style="height: 100px"></textarea>
   <br/>
  </div>
    <button type="submit" class="btn btn-dark">Add comment</button>
  </form>

  </p>

